// sidebar
$menuText:#ffffff;
// 侧边栏选中字体颜色
$menuActiveText:#ffffff;
$subMenuActiveText:#ffffff; //https://github.com/ElemeFE/element/issues/12951

// 侧边栏背景色
$menuBg:#f5b508f5;
// 侧边栏目录hover背景色
$menuHover:#daa20af5;

// 侧边栏子目录背景色
$subMenuBg:#ecb621f5;
// 侧边栏子目录hover背景色
$subMenuHover:#daa20af5;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
